<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Firebase Sample</title>
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <style type="text/css">
    #contacts p, 
    #contacts p.lead{
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <center>
    <h1>Student Database Using Firebase Backend</h1>
  </center>
    <hr/>
  <br>
  <br>
  <center>
  <h2>{{text}}</h2>
  <br>
  <button onclick="document.location='https://wawanfirebase.herokuapp.com/'" id="myButton" class="btn btn-primary addValue">Click Here To Go Back
  </button>
  </center>
  </div>

</body>
</html>
